.main-content {
  margin-top: 100px;
}

.pageContent {
  margin-left: 300px;

  min-height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 2rem;
}
